@font-face {
  font-family: easyjet;
  src: url(easyjetrounded.ttf);
}
@media only screen and (max-width: 480px) {
  html {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .text {
    margin-left: 0 !important;
    margin-right: 0 !important;        
}
  a {
    color: #ff6600;
  }
h1 {
  display: none;
}
}
nav {
    width: 100%;
    height: auto;
    background-image: url(./header.gif);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .buttons ul {
    flex-direction: row;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
  
  .logo {
    flex-shrink: 0;
  }
  div.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  h2 {
    display: flex;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


html {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: block;
  font-size: 1rem;
  font-family: "Cooper";
}
a {
  color: #ffffff;
}
nav {
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
nav img {
  height: 90%;
}
button {
  background: none;
  border: none;
  font-family: "Cooper";
  color: #ffffff;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.buttons ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: transparent 1px;
  padding: 5px;
  float: right;
}

.background {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
}

div.logo img {
  width: 30%;
  height: auto;

  padding: 10px 5px 10px 10px;
}
div.background {
  position: relative;
}
h1 {
  font-size: 3.1em;
  font-family: "Libel";
  position: absolute;
  top: 450px;
  left: 10px;
  color: #fefefe;
}
div.text h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
div.text p {
  margin: 5px;
  justify-content: center;
  font-size: medium;
  font-weight: lighter;
  font-family: "easyjet";
  padding: 0px 10px;
}
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
div.emails ul {
  list-style: none;
}
div.emails ul li {
  line-height: 2em;
}
div.emails ul li a {
  color: #ff6600;
  font-family: "Cooper";
  text-decoration: none;
}
